* {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 30px 0;
}

.links {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.links a {
    text-decoration: none;
    
    font-size: 18px;
    color: #111111;
}

.page a {
    margin-left: 30px;
}

section {
    width: 940px;
    margin: 0 auto;
    background-color: #FBDFDB;
    border-radius: 30px;
    max-width: 940px;
    height: 366px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.title {
    max-width: 316px;
    margin: 16vh 3vw;
}

.title h1 {
    font-size: 32px;
    color: #111111;
}

.title p {
    margin-top: 10px;
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
}

.chef {
    margin-top: 9vh;
    margin-right: 6vw;
}

/*=== MAIS ACESSADAS ===*/

main h1 {
    width: 940px;
    margin: 0 auto;

    margin-top: 50px;
    margin-bottom: 20px;    
    font-size: 24px;
    color: #111111;
}

.revenues {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.revenue {
    cursor: pointer;
}

.card-info {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-info h3 {
    font-size: 18px;
    color: #111111;
}

.card-info p {
    font-size: 16px;
    color: #777777;
    margin-top: 5px;
}

.card-image img {
    width: 100%;

    border-radius: 15px;
}

footer {
    width: 100%;
    height: 62px;
    background-color: #EEEEEE;
    
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center; 
}